
*.json
PythonModule/build/lib.win-amd64-3.7/sUtility.cp37-win_amd64.pyd
PythonModule/build/temp.win-amd64-3.7/Release/sUtility.cp37-win_amd64.exp
PythonModule/build/temp.win-amd64-3.7/Release/sUtility.cp37-win_amd64.lib
PythonModule/build/temp.win-amd64-3.7/Release/sUtility.obj
PythonModule/sUtility.c
PythonModule/sUtility.cp37-win_amd64.pyd
PythonModule/sUtility.html
working folder/__pycache__/configure.cpython-37.pyc
working folder/__pycache__/DMRSgeneration.cpython-37.pyc
working folder/__pycache__/measureLib.cpython-37.pyc
working folder/__pycache__/NRparameters.cpython-37.pyc
working folder/build/lib.win32-3.7/sUtility.cp37-win32.pyd
working folder/build/temp.win32-3.7/Release/sUtility.cp37-win32.exp
working folder/build/temp.win32-3.7/Release/sUtility.cp37-win32.lib
working folder/build/temp.win32-3.7/Release/sUtility.obj
